.card {
  padding: 1em;
  margin-top: 0.5em;
  background-color: #a19a9a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.videoContainer {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.video,
.thumbnail {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.thumbnail {
  max-height: 300px;
}

.title {
  margin: 10px 0;
  font-size: 1.6em;
  text-align: center;
}

.description {
  margin: 10px 0;
  font-size: 1.4em;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons button {
  padding: 10px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--blanco);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

.buttons button:hover {
  background-color: var(--verde);
}

@media only screen and (max-width: 830px) {
  .card {
    margin-top: 1em;
  }
}
